<html>
<head>
    <title>Flex Quizz</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>
  <div class="card">
      <img src="https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
      <div class="trip-details ">
          <div class="trip">
              <h2>Trip to Paris</h2>
              <p>Discover the capital of France</p>
          </div>
          <div class="cost"><b>£200.00</b></div>
      </div>
      
  </div>
    
</body>
</html>